:root {
  --selectedSeatColor: rgb(86, 219, 53);
}

.seatSelect {
  // height: 80vw;
  max-height: 80vh;
}

.seat:not(:first-child) {
  margin-right: 2px;
}

table {
  text-align: center;
  overflow-x: scroll;
}

tbody > tr:not(:first-child) > td:not(:first-child) {
  // background-color: greenyellow;
}

tbody > tr > td {
  width: calc(100% / 17);
}

tr > td:not(:first-child) > img {
  border: 0.5px solid #ccc;
}

th {
  font-size: large;
  font-weight: 500;
}

tbody > tr:not(:first-child) > td:first-child {
  font-size: large;
  font-weight: 500;
}

td > img {
  max-width: 50px;
  width: 80%;
  margin: 10% auto;
  padding: 5%;
  border-radius: 0.375rem;
}

.active {
  background-color: var(--selectedSeatColor);
}

.seatType img {
  width: 80%;
  border: 1px solid #ccc;
  border-radius: 10%;
  padding: 5%;
  max-width: 50px;
  margin: 10% auto;
}

.seatType:nth-child(3) img {
  background-color: var(--selectedSeatColor);
}

.selectedSeatIndex {
  color: var(--selectedSeatColor);
}

@media only screen and (max-width: "767px") {
  tbody > tr:first-child > th {
    font-size: small;
  }

  tbody > tr > td {
    width: calc(100% / 16);
  }

  td > img {
    border-radius: 0;
    margin: 15% auto;
    width: 90%;
  }

  tr > td:first-child,
  tr > th:first-child {
    display: none;
  }

  .seatType img {
    width: 30px;
    padding: 2%;
  }
}
