*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

.ant-tabs-nav-operations{
    display: none !important;
}

.ant-tabs-tab{
    opacity: .6;
}

.ant-tabs-tab-active{
    opacity: 1;
}

.ant-rate-star:not(:last-child){
    margin-right: 3px !important;
}
