.sideBarModal {
  position: absolute;
  background-color: rgba(138, 138, 138, 0.4);
  height: 100vh;
  width: 100vw;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  color: rgb(2, 30, 56);
}

.sideBarMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  height: 100vh;
  right: -320px;
  top: 0;
  bottom: 0;
  width: 320px;
  background-color: rgba(247, 244, 244, 0.95);
  transition: all 0.4s ease-in-out;
}

.sideBarMenu.active {
  right: 0;
}
